.gallery {
  .top {
    text-align: center;
  }
  
  &_content {
    margin-bottom: 3rem;
  }

  &_chunk {
    @media (min-width: $screenSm) {
      display: flex;
      flex-flow: column wrap;
      height: 50rem;
      margin-bottom: 1rem;
    }

    &--left {
      .gallery_item {
        &:first-of-type {
          @media (min-width: $screenSm) {
            width: 66.66666%;
            height: 50rem;
            margin-right: 0.5rem;

            &::before {
              left: 0;
            }
          }
        }

        &:nth-of-type(2) {
          @media (min-width: $screenSm) {
            margin-left: 0.5rem;
            margin-bottom: 0.5rem;

            &::before {
              left: auto;
              right: 0;
            }
          }
        }

        &:nth-of-type(3) {
          @media (min-width: $screenSm) {
            margin-left: 0.5rem;
            margin-top: 0.5rem;

            &::before {
              left: auto;
              right: 0;
            }
          }
        }
      }
    }

    &--right {
      .gallery_item {
        &:first-of-type {
          @media (min-width: $screenSm) {
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;

            &::before {
              left: 0;
            }
          }
        }

        &:nth-of-type(2) {
          @media (min-width: $screenSm) {
            margin-right: 0.5rem;
            margin-top: 0.5rem;

            &::before {
              left: 0;
            }
          }
        }

        &:nth-of-type(3) {
          @media (min-width: $screenSm) {
            width: 66.66666%;
            height: 50rem;
            margin-left: 0.5rem;

            &::before {
              left: auto;
              right: 0;
            }
          }
        }
      }
    }

    .gallery_item {
      display: flex;
      flex-direction: column;
      position: relative;
      margin-bottom: 1rem;

      @media (min-width: $screenSm) {
        width: 33.33333%;
        height: 24.5rem;
        overflow: hidden;
        margin-bottom: 0;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        background-color: rgba($color1, 0.3);
        transition: all 0.3s ease-in-out;
      }

      >img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        transition: transform 0.5s;
      }

      &_info {
        width: max-content;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 70;
        transform: translate(-50%,-50%);
        color:#fff;
        font-size: 2rem;
        line-height: 1.3;
        padding: 1rem 2rem;
        text-align: center;
        transition: all 0.3s ease-in-out;

        > span {
          display: block;

          &.city {
            font-size: 1.6rem;
          }

          &.country {
            font-weight: $fontBold;
            font-size: 1.7rem;
          }
        }
      }

      &:hover {
        &::before {
          opacity: 0;
        }

        img {
          transform: scale(1.1);
        }

        .gallery_item_info {
          background: rgba($color1, 0.5);
        }
      }
    }
  }

  &_actions {
    display: flex;
    justify-content: center;
    position: relative;
  }
}